<!DOCTYPE html>
<html lang="vi">

<head>
    <% include layout/header %>

</head>

<body class="sidebar-mini fixed">
    <div class="wrapper">
        <div class="loader-bg">
            <div class="loader-bar">
            </div>
        </div>
        <% include layout/nav %>
        <script>
            var d = document.getElementById("navbrand");
            d.className += " active";
        </script>
        <div class="content-wrapper">
            <!-- Container-fluid starts -->
            <div class="container-fluid">
                <!-- Main content starts -->
                <div>
                    <!-- Row Starts -->
                    <div class="row">
                        <div class="col-sm-12 p-0">
                            <div class="main-header">
                                <h4>Thêm hãng sản xuất</h4>
                                <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                                    <li class="breadcrumb-item"><a href="/admin/"><i
                                                class="icofont icofont-home"></i></a>
                                    </li>
                                    <li class="breadcrumb-item"><a>Hãng</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="/admin/hang-sx/them">Thêm</a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- Row end -->

                    <!-- Row start -->
                    <div class="row">
                        <!-- Textual inputs starts -->
                        <div style="margin: 1%" class="card">
                            <div class="card-header">
                                <h5 class="card-header-text">NHẬP THÔNG TIN HÃNG SẢN XUẤT</h5>
                            </div>
                            <div class="card-block">
                                <form method="POST" action="/admin/hang-sx/them">
                                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                    <div class="form-group row">
                                        <label for="example-text-input"
                                            class="col-xs-2 col-form-label form-control-label">Tên hãng sản xuất</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text"
                                                placeholder="Nhập tên của hãng sản xuất" id="example-text-input"
                                                name="name" value="<%= data.name%>">
                                                <%if(dataError.msg_noName){%>
                                                    <div class="invalid-feedback d-block" style="color: red"><%=dataError.msg_noName%></div>
                                                    <%}%>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="example-email-input"
                                            class="col-xs-2 col-form-label form-control-label">Tình trạng</label>
                                        <div class="col-sm-10">
                                            <div class="form-radio">

                                                    <div class="radio radiofill radio-inline">
                                                            <label>
                                                                <input type="radio" name="radioStatus"
                                                                <% if( data.status == true){ %> checked="checked" <%}%>
                                                                value="Mở">
                                                                <i class="helper"></i>Mở
                                                            </label>
                                                        </div>
    
                                                        <div class="radio radiofill radio-inline">
                                                            <label>
                                                                <input type="radio" name="radioStatus"
                                                                <% if(data.status == null || data.status == false){ %> checked="checked" <%}%>
                                                                value="Đóng"
                                                                    >
                                                                <i class="helper"></i>Đóng
                                                            </label>
                                                        </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="file" class="col-md-2 col-form-label form-control-label">Gian
                                            hàng</label>
                                        <div class="col-md-9">
                                            <select class="form-control" id="exampleSelect1" name='categorySelect'>
                                                <option selected disabled>--- Chọn gian hàng ---</option>
                                                <% categoriesSelect.forEach(function(category, i){ %> <option
                                                            value=<%= category._id%>
                                                            <% if( data.categoryId == category._id){ %>
                                                            selected="selected" <%}%>
                                                    >
                                                    <%= category.name %> </option> <% }) %> 
                                                </select>
                                                            <%if(dataError.msg_noCategory){%> <div
                                                            class="invalid-feedback d-block" style="color: red"><%=dataError.msg_noCategory%></div>
                                                <%}%>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col text-center">
                                                <button type="submit"
                                                    class="btn btn-success waves-effect waves-light">Thêm</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Textual inputs ends -->
                    </div>
                    <!-- Row end -->
                </div>
                <!-- Main content ends -->
            </div>
            <!-- Container-fluid ends -->
        </div>
    </div>


    <!-- Required Jqurey -->
    <script src="/admin/plugins/jquery/dist/jquery.min.js"></script>
    <script src="/admin/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="/admin/plugins/tether/dist/js/tether.min.js"></script>

    <!-- Required Fremwork -->
    <script src="/admin/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- waves effects.js -->
    <script src="/admin/plugins/Waves/waves.min.js"></script>

    <!-- Scrollbar JS-->
    <script src="/admin/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="/admin/plugins/jquery.nicescroll/jquery.nicescroll.min.js"></script>

    <!--classic JS-->
    <script src="/admin/plugins/classie/classie.js"></script>

    <!-- notification -->
    <script src="/admin/plugins/notification/js/bootstrap-growl.min.js"></script>

    <!-- syntax highlighter js -->
    <script type="text/javascript" src="/admin/plugins/syntaxhighlighter/scripts/shCore.js"></script>
    <script type="text/javascript" src="/admin/plugins/syntaxhighlighter/scripts/shBrushJScript.js"></script>
    <script type="text/javascript" src="/admin/plugins/syntaxhighlighter/scripts/shBrushXml.js"></script>
    <script type="text/javascript">SyntaxHighlighter.all();</script>

    <!-- custom js -->
    <script type="text/javascript" src="/admin/js/main.min.js"></script>
    <script type="text/javascript" src="/admin/pages/elements.js"></script>
    <script src="/admin/js/menu.min.js"></script>

</body>

</html>