<!DOCTYPE html>
<html lang="en">

<head>
    <% include layout/header %>
</head>
<style type="text/css">

</style>
<body class="sidebar-mini fixed">
    <div class="loader-bg">
        <div class="loader-bar">
        </div>
    </div>
    <div class="wrapper">

        <% include layout/nav %>
        <script>
            var d = document.getElementById("navdashboard");
            d.className += " active";
        </script>

        <div class="content-wrapper">

            <!-- Container-fluid starts -->
            <!-- Main content starts -->
            <div class="container-fluid">
                <div class="row">
                    <div class="main-header">
                        <h4>Dashboard</h4>
                    </div>
                </div>
                <!-- 4-blocks row start -->
                <div class="row m-b-30 dashboard-header">

                    <div class="col-lg-3 col-sm-6">
                        <div class="col-sm-12 card dashboard-product">
                            <span>Đơn hàng</span>
                            <h2 class="dashboard-total-products counter">4500</h2>
                            <span class="label label-warning">Orders</span>New Orders
                            <div class="side-box bg-warning">
                                <i class="icon-social-soundcloud"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="col-sm-12 card dashboard-product">
                            <span>Products</span>
                            <h2 class="dashboard-total-products counter">37,500</h2>
                            <span class="label label-primary">Sales</span>Last Week Sales
                            <div class="side-box bg-primary">
                                <i class="icon-social-soundcloud"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="col-sm-12 card dashboard-product">
                            <span>Products</span>
                            <h2 class="dashboard-total-products">$<span class="counter">30,780</span></h2>
                            <span class="label label-success">Sales</span>Total Sales
                            <div class="side-box bg-success">
                                <i class="icon-bubbles"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="col-sm-12 card dashboard-product">
                            <span>Products</span>
                            <h2 class="dashboard-total-products">$<span class="counter">30,780</span></h2>
                            <span class="label label-danger">Views</span>Views Today
                            <div class="side-box bg-danger">
                                <i class="icon-bubbles"></i>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- 4-blocks row end -->

                <!-- 3-1-block start -->
                <div class="row">
                    <!-- Recent Items start -->

                    <div class="col-lg-6 col-md-12 grid-item">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-header-text">Top 10 gian hàng có sản phẩm được bán nhiều nhất</h5>
                                <span class="m-t-10 text-capitalize d-block">Mới cập nhật</span>
                            </div>
                            <div class="card-block">
                                <div class="table-responsive">
                                    <table class="table m-b-0">
                                        <thead>
                                            <tr class="text-uppercase">
                                                <th class="p-t-0">STT</th>
                                                <th class="p-t-0">Tên gian hàng</th>
                                                <th class="p-t-0">Đã bán</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%topTenSoldCategories.forEach(function(category, i){%>
                                            <tr>
                                                <th><%=i+1%></th>
                                                <td><%= category.name %></td>
                                                <td><%=category.sumSold%></td>
                                            </tr>
                                            <%})%>
                                            <% for( var count= topTenCategoryLength +1 ; count <= 10; count++) { %>
                                            <tr>
                                                <th><%=count%></th>
                                                <td>-</td>
                                                <td>-</td>
                                            </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 grid-item">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-header-text">Top 10 sản phẩm đươc bán nhiều nhất</h5>
                                <span class="m-t-10 text-capitalize d-block">Mới cập nhật</span>
                            </div>
                            <div class="card-block">
                                <div class="table-responsive">
                                    <table class="table m-b-0">
                                        <thead>
                                            <tr class="text-uppercase">
                                                <th class="p-t-0">STT</th>
                                                <th class="p-t-0">Tên sản phẩm</th>
                                                <th class="p-t-0">Đã bán</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%topTenSoldProducts.forEach(function(product, i){%>
                                            <tr>
                                                <th><%=i+1%></th>
                                                <td><a
                                                    href="/<%=product.categoryId?product.categoryId.slug:null%>/<%=product.slug%>"><%= product.name %></a>
                                                </td>
                                                <td><%=product.numberOfProductSold%></a>
                                                </td>
                                            </tr>
                                            <%})%>
                                            <% for( var count= topTenProductLength +1 ; count <= 10; count++) { %>
                                            <tr>
                                                <th><%=count%></th>
                                                <td>-</td>
                                                <td>-</td>
                                            </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Recent Items end -->

                </div>

                <!-- 3-1-block end -->

                <div class="row">
                    <div class="col-xl-12 col-lg-8">
                        <!-- Nav tabs -->
                        <div class="tab-header">
                            <ul class="nav nav-tabs md-tabs tab-timeline" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#daily" id="dailytab" role="tab">Ngày
                                    </a>
                                    <div class="slide"></div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#weekly" id="weeklytab" role="tab">Tuần</a>
                                    <div class="slide"></div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#monthly" id="monthlytab" role="tab">Tháng
                                    </a>
                                    <div class="slide"></div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#quarterly" id="quarterlytab" role="tab">Quý</a>
                                    <div class="slide"></div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#yearly" id="yearlytab" role="tab">Năm</a>
                                    <div class="slide"></div>
                                </li>
                            </ul>
                        </div>
                        <!-- end of tab-header -->

                        <div class="tab-content">
                            <div class="tab-pane active" id="daily" role="tabpanel">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-header-text">Thống kê doanh thu theo ngày</h5>
                                    </div>
                                    <div class="card-block">
                                        <div id="line-revenue-by-day"></div>
                                    </div>
                                </div>


                            </div>
                            <!-- end of tab-pane -->
                            <!-- end of about us tab-pane -->

                            <!-- start tab-pane of project tab -->
                            <div class="tab-pane" id="weekly" role="tabpanel">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-header-text">Thống kê doanh thu theo tuần</h5>
                                    </div>
                                    <div class="card-block">
                                        <div id="line-revenue-by-week"></div>
                                    </div>
                                </div>
                                <!-- end of card-main -->
                            </div>
                            <!-- end of project pane -->

                            <!-- start a question pane  -->

                            <div class="tab-pane" id="monthly" role="tabpanel">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-header-text">Thống kê doanh thu theo tháng</h5>
                                    </div>
                                    <div class="card-block">
                                        <div id="line-revenue-by-month"></div>
                                    </div>
                                </div>
                                <!-- end of row -->
                            </div>
                            <!-- end of tab pane question -->

                            <!-- start memeber ship tab pane -->

                            <div class="tab-pane" id="quarterly" role="tabpanel">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-header-text">Thống kê doanh thu theo quý</h5>
                                    </div>
                                    <div class="card-block">
                                        <div id="line-revenue-by-quarter"></div>
                                    </div>
                                </div>
                                <!-- end of row -->
                            </div>
                            <!-- end of memebership tab pane -->

                            <div class="tab-pane" id="yearly" role="tabpanel">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-header-text">Thống kê doanh thu theo năm</h5>
                                    </div>
                                    <div class="card-block">
                                        <div id="line-revenue-by-year"></div>
                                    </div>
                                </div>
                                <!-- end of row -->
                            </div>
                            <!-- end of memebership tab pane -->

                        </div>
                        <!-- end of main tab content -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Main content ends -->
        <!-- Container-fluid ends -->
    </div>
</div>


<!-- Required Jqurey -->
<script src="/admin/plugins/jquery/dist/jquery.min.js"></script>
<script src="/admin/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="/admin/plugins/tether/dist/js/tether.min.js"></script>

<!-- Required Fremwork -->
<script src="/admin/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- waves effects.js -->
<script src="/admin/plugins/Waves/waves.min.js"></script>

<!-- Scrollbar JS-->
<script src="/admin/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="/admin/plugins/jquery.nicescroll/jquery.nicescroll.min.js"></script>

<!--classic JS-->
<script src="/admin/plugins/classie/classie.js"></script>

<!-- notification -->
<script src="/admin/plugins/notification/js/bootstrap-growl.min.js"></script>

<!-- Rickshaw Chart js -->
<script src="/admin/plugins/d3/d3.js"></script>
<script src="/admin/plugins/rickshaw/rickshaw.js"></script>

<!-- Sparkline charts -->
<script src="/admin/plugins/jquery-sparkline/dist/jquery.sparkline.js"></script>

<!-- Counter js  -->
<script src="/admin/plugins/waypoints/jquery.waypoints.min.js"></script>
<script src="/admin/plugins/countdown/js/jquery.counterup.js"></script>

<!-- custom js -->
<script type="text/javascript" src="/admin/js/main.min.js"></script>
<script type="text/javascript" src="/admin/pages/dashboard.js"></script>
<script type="text/javascript" src="/admin/pages/elements.js"></script>
<script src="/admin/js/menu.min.js"></script>

<!-- Morris Chart js -->
<script src="/admin/plugins/raphael/raphael.min.js"></script>
<script src="/admin/plugins/morris.js/morris.js"></script>
<script src="/admin/pages/chart-morris.js"></script>

<script>
    var $window = $(window);
    var nav = $('.fixed-button');
    $window.scroll(function () {
        if ($window.scrollTop() >= 200) {
            nav.addClass('active');
        }
        else {
            nav.removeClass('active');
        }
    });

    function contain(index, data) {
       for(var i=0;i<data.length;i++){
           if(data[i]._id == index){
               return i;
           }
       }
       return -1;
   }   
   
        // $('#dailytab').click(function(){
        //     $('#daily').show();
        //     $('#weekly').hide();
        //     $('#monthly').hide();
        //     $('#quarterly').hide();
        //     $('#yearly').hide();
        // })

        // $('#weeklytab').click(function(){
        //     $('#daily').hide();
        //     $('#weekly').show();
        //     $('#monthly').hide();
        //     $('#quarterly').hide();
        //     $('#yearly').hide();
        // })

        // $('#monthlytab').click(function(){
        //     $('#daily').hide();
        //     $('#weekly').hide();
        //     $('#monthly').show();
        //     $('#quarterly').hide();
        //     $('#yearly').hide();
        // })

        // $('#quarterlytab').click(function(){
        //     $('#daily').hide();
        //     $('#weekly').hide();
        //     $('#monthly').hide();
        //     $('#quarterly').show();
        //     $('#yearly').hide();
        // })

        // $('#yearlytab').click(function(){
        //     $('#daily').hide();
        //     $('#weekly').hide();
        //     $('#monthly').hide();
        //     $('#quarterly').hide();
        //     $('#yearly').show();
        // })


        // revenue daily:
        var dataRevenueByDay = <%- JSON.stringify(dataRevenueByDay) %>;
        var fullDataRevenueDay = [];
        for (var i = 1; i <= 30; i++) {
            fullDataRevenueDay.push({ 'day': i, 'totalSold': 0 });
        }
        for (var i = 1; i <= 30; i++) {
            var index = contain(i, dataRevenueByDay);
            if(index != -1){
                fullDataRevenueDay[i-1].day = dataRevenueByDay[index]._id;
                fullDataRevenueDay[i-1].totalSold = dataRevenueByDay[index].totalSold;
            }            
        }
        var dayChart = new Morris.Line({
            element: 'line-revenue-by-day',
            data: fullDataRevenueDay,
            xkey: 'day',
            parseTime: false,
            ykeys: ['totalSold'],
            labels: ['Doanh thu'],
            lineColors: ['#2196F3']
        });
        
        


        // revenue weekly:
        var dataRevenueByWeek = <%- JSON.stringify(dataRevenueByWeek) %>;
        var fullDataRevenueWeek = [];
        for (var i = 1; i <= 4; i++) {
            fullDataRevenueWeek.push({ 'week': i, 'totalSold': 0 });
          }
        for (var i = 1; i <= 4; i++) {
            var index = contain(i, dataRevenueByWeek);
            if(index != -1){
                fullDataRevenueWeek[i-1].week = dataRevenueByWeek[index]._id;
                fullDataRevenueWeek[i-1].totalSold = dataRevenueByWeek[index].totalSold;
            }            
        }
        var weekChart = new Morris.Line({
        element: 'line-revenue-by-week',
        data: fullDataRevenueWeek,
        xkey: 'week',
        parseTime: false,
        ykeys: ['totalSold'],
        labels: ['Doanh thu'],
        lineColors: ['#2196F3']
    });

        // revenue monthly:
        var dataRevenueByMonth = <%- JSON.stringify(dataRevenueByMonth) %>;
        var fullDataRevenueMonth = [];
        for (var i = 1; i <= 12; i++) {
            fullDataRevenueMonth.push({ 'month': i, 'totalSold': 0 });
        }
        for (var i = 1; i <= 12; i++) {
            var index = contain(i, dataRevenueByMonth);
            if(index != -1){
                fullDataRevenueMonth[i-1].month = dataRevenueByMonth[index]._id;
                fullDataRevenueMonth[i-1].totalSold = dataRevenueByMonth[index].totalSold;
            }            
        }
      var monthChart = new Morris.Line({
        element: 'line-revenue-by-month',
        data: fullDataRevenueMonth,
        xkey: 'month',
        ykeys: ['totalSold'],
        labels: ['Doanh thu'],
        parseTime: false,
        lineColors: ['#2196F3']
    });

        // revenue quarterly:
        var dataRevenueByQuarter = <%- JSON.stringify(dataRevenueByQuarter) %>;
        var fullDataRevenueQuarter = [];
        
        for (var i = 1; i <= 4; i++) {
            fullDataRevenueQuarter.push({ 'quarter': i, 'totalSold': 0 });
        }
        for (var i = 1; i <= 4; i++) {
            var index = contain(i, dataRevenueByQuarter);
            if(index != -1){
                fullDataRevenueQuarter[i-1].quarter = dataRevenueByQuarter[index]._id;
                fullDataRevenueQuarter[i-1].totalSold = dataRevenueByQuarter[index].totalSold;
            }            
        }
        var quaterChart = new Morris.Line({
            element: 'line-revenue-by-quarter',
            data: fullDataRevenueQuarter,
            xkey: 'quarter',
            ykeys: ['totalSold'],
            labels: ['Doanh thu'],
            parseTime: false,
            lineColors: ['#2196F3'],
        });

        // revenue yearly:
        var dataRevenueByYear = <%- JSON.stringify(dataRevenueByYear) %>;
        var fullDataRevenueYear = [];
        var beg = parseInt(dataRevenueByYear[0]._id) -9;
        for (var i = beg; i <= beg + 9; i++) {
            fullDataRevenueYear.push({ 'year': i, 'totalSold': 0 });
        }
        console.log(fullDataRevenueYear)
        console.log(dataRevenueByYear)
        for (var i = beg, j=0; i <= beg + 9; i++,j++) {
            var index = contain(i, dataRevenueByYear);
            if(index != -1){
                fullDataRevenueYear[j].year = dataRevenueByYear[index]._id;
                fullDataRevenueYear[j].totalSold = dataRevenueByYear[index].totalSold;
            }            
        }
        var yearChart = new Morris.Line({
            element: 'line-revenue-by-year',
            data: fullDataRevenueYear,
            xkey: 'year',
            ykeys: ['totalSold'],
            labels: ['Doanh thu'],
            parseTime: false,
            lineColors: ['#2196F3'],
        });

        $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
            var target = $(e.target).attr("href");
            switch (target) {
                case "#daily":
                $('#line-revenue-by-day').empty();
                dayChart = new Morris.Line({
                    element: 'line-revenue-by-day',
                    data: fullDataRevenueDay,
                    xkey: 'day',
                    parseTime: false,
                    ykeys: ['totalSold'],
                    labels: ['Doanh thu'],
                    lineColors: ['#2196F3']
                });
                break;
                case "#weekly":
                $('#line-revenue-by-week').empty();
                var weekChart = new Morris.Line({
                    element: 'line-revenue-by-week',
                    data: fullDataRevenueWeek,
                    xkey: 'week',
                    parseTime: false,
                    ykeys: ['totalSold'],
                    labels: ['Doanh thu'],
                    lineColors: ['#2196F3']
                });
                break;
                case "#monthly":
                $('#line-revenue-by-month').empty();
                monthChart = new Morris.Line({
                    element: 'line-revenue-by-month',
                    data: fullDataRevenueMonth,
                    xkey: 'month',
                    ykeys: ['totalSold'],
                    labels: ['Doanh thu'],
                    parseTime: false,
                    lineColors: ['#2196F3']
                });
                break;
                case "#quarterly":
                $('#line-revenue-by-quarter').empty();
                quaterChart = new Morris.Line({
                    element: 'line-revenue-by-quarter',
                    data: fullDataRevenueQuarter,
                    xkey: 'quarter',
                    ykeys: ['totalSold'],
                    labels: ['Doanh thu'],
                    parseTime: false,
                    lineColors: ['#2196F3'],
                });
                break;
                case "#yearly":
                $('#line-revenue-by-year').empty();
                yearChart = new Morris.Line({
                    element: 'line-revenue-by-year',
                    data: fullDataRevenueYear,
                    xkey: 'year',
                    ykeys: ['totalSold'],
                    labels: ['Doanh thu'],
                    parseTime: false,
                    lineColors: ['#2196F3'],
                });
                break;
            }
        });

    </script>
</body>

</html>