<!DOCTYPE html>
<html lang="en">

<head>
	<% include layout/header %>

</head>
<style type="text/css">
	.btn-save-avatar{
		bottom: 0;
		top: auto;
		display: none;
		cursor: pointer;
	}
</style>
<body class="sidebar-mini fixed">
	<div class="wrapper">
		<div class="loader-bg">
			<div class="loader-bar">
			</div>
		</div>
		<% include layout/nav %>
		<div class="content-wrapper">
			<!-- Container-fluid starts -->
			<div class="container-fluid">
				<div class="row">
					<div class="main-header">
						<h4>Profile</h4>
						<ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
							<li class="breadcrumb-item"><a href="/"><i class="icofont icofont-home"></i></a>
							</li>
							<li class="breadcrumb-item" href="/admin/profile"><a>Profile</a>
							</li>
							<li class="breadcrumb-item"><a>Đổi mật khẩu</a>
							</li>
						</ol>
					</div>
				</div>
				<!-- Header end -->
				<div class="row">
					<div style="margin: 1%" class="card">
						<div class="card-header">
							<h5 class="card-header-text">ĐỔI MẬT KHẨU</h5>
						</div>
						<div class="card-block">
							<form method="POST" action="/admin/update-password" class="col-lg-6">
								<input type="hidden" name="_csrf" value="<%=csrfToken%>">
								<%if(messages.server_error){%>
								<div class="alert alert-danger" role="alert">
									<%=messages.server_error%>
								</div>
								<%}%>
								<%if(messages.change_successfully){%>
								<div class="alert alert alert-success" role="alert">
									<%=messages.change_successfully%>
								</div>
								<%}%>
								<div class="md-input-wrapper">
									<input type="password" class="md-form-control" required="" name="account_password" value="<%=old.account_password?old.account_password:null%>">
									<label>Mật khẩu cũ</label>
								</div>
								<%if(messages.password){%>
									<div class="invalid-feedback d-block" style="color: red"><%=messages.password%></div>
									<%}%>
								<div class="md-input-wrapper">
									<input type="password" class="md-form-control" required="" name="new_password" value="<%=old.new_password?old.new_password:null%>">
									<label>Mật khẩu mới</label>
								</div>
									<%if(messages.new_password){%>
									<div class="invalid-feedback d-block" style="color: red"><%=messages.new_password%></div>
									<%}%>
									
								<div class="md-input-wrapper">
									<input type="password" class="md-form-control" required="" name="new_password_confirmation" value="<%=old.new_password_confirmation?old.new_password_confirmation:null%>">
									<label>Nhập lại mật khẩu mới</label>
								</div>
								<%if(messages.password_confirmation){%>
									<div class="invalid-feedback d-block" style="color: red"><%=messages.password_confirmation%></div>
									<%}%>
									
								<div class="row mt-20">
									<div class="col-xs-10 offset-xs-1">
										<button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">THAY ĐỔI</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- end of main tab content -->
			</div>
		</div>

	</div>
	<!-- Container-fluid ends -->
</div>

<!-- Required Jqurey -->
<script src="/admin/plugins/jquery/dist/jquery.min.js"></script>
<script src="/admin/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="/admin/plugins/tether/dist/js/tether.min.js"></script>

<!-- Required Fremwork -->
<script src="/admin/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- waves effects.js -->
<script src="/admin/plugins/Waves/waves.min.js"></script>

<!-- Scrollbar JS-->
<script src="/admin/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="/admin/plugins/jquery.nicescroll/jquery.nicescroll.min.js"></script>

<!--classic JS-->
<script src="/admin/plugins/classie/classie.js"></script>

<!-- notification -->
<script src="/admin/plugins/notification/js/bootstrap-growl.min.js"></script>

<!-- pie chart.js -->
<script type="text/javascript" src="/admin/plugins/bower-jquery-easyPieChart/dist/jquery.easypiechart.min.js"></script>
<script type="text/javascript" src="/admin/pages/counter.js"></script>

<!-- Date picker.js -->
<script type="text/javascript" src="/admin/plugins/moment/moment.js"></script>
<script type="text/javascript" src="/admin/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>

<!-- custom js -->
<script type="text/javascript" src="/admin/js/main.min.js"></script>
<script type="text/javascript" src="/admin/pages/profile.js"></script>
<script type="text/javascript" src="/admin/pages/elements.js"></script>
<script type="text/javascript" src="/admin/js/menu.min.js"></script>

</body>

</html>