<!DOCTYPE html>
<html lang="vi">

<head>
    <% include layout/header %>

</head>

<body class="sidebar-mini fixed">
    <div class="wrapper">
        <div class="loader-bg">
            <div class="loader-bar">
            </div>
        </div>
        <% include layout/nav %>
        <script>
            var d = document.getElementById("navuser");
            d.className += " active";
        </script>
        <div class="content-wrapper">
            <!-- Container-fluid starts -->
            <div class="container-fluid">

                <!-- Header Starts -->
                <div class="row">
                    <div class="col-sm-12 p-0">
                        <div class="main-header">
                            <h4>Danh sách người dùng</h4>
                            <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                                <li class="breadcrumb-item">
                                    <a href="/">
                                        <i class="icofont icofont-home"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item"><a >Người dùng</a>
                                </li>
                                <li class="breadcrumb-item"><a href="/admin/nguoi-dung/danh-sach">Danh sách</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- Header end -->

                <div class="card">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="md-input-wrapper">
                                    <select class="md-form-control" name="block">
                                        <option value="all">Trạng thái - tất cả</option>
                                        <option value="1">Đã khóa</option>
                                        <option value="0">Mở</option>
                                    </select>
                                    <span class="md-line"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="md-input-wrapper p-relative">
                                    <form action="/admin/nguoi-dung/danh-sach" method="get" id="form-search">
                                        <input type="text" name="q" class="md-form-control" placeholder="SEARCH ..." id="myInput" value="<%=(query.q)?query.q:null%>" required="required">
                                    </form>
                                    <span class="md-line"></span>
                                    <i class="fa fa-search p-absolute submit-search" style="top:25px; right: 10px"></i>
                                </div>
                            </div>
                            <div class="col-sm-12 table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="text-center txt-primary" <%if(!query.sort){%>style="border-bottom: 2px solid;"<%}%>>
                                                <a class="txt-primary font-weight-bold"href="/admin/nguoi-dung/danh-sach?page=1">Ngày tạo</a>
                                            </th>
                                            <th class="text-center txt-primary pro-pic">Avatar</th>
                                            <th class="text-center txt-primary" <%if(query.sort=='name'){%>style="border-bottom: 2px solid;"<%}%>>
                                                <a class="txt-primary font-weight-bold"href="/admin/nguoi-dung/danh-sach?page=1&sort=name">Họ và tên</a>
                                            </th>
                                            <th class="text-center txt-primary" <%if(query.sort=='username'){%>style="border-bottom: 2px solid;"<%}%>>
                                                <a class="txt-primary font-weight-bold"href="/admin/nguoi-dung/danh-sach?page=1&sort=username">Username</a>
                                            </th>
                                            <th class="text-center txt-primary" <%if(query.sort=='email'){%>style="border-bottom: 2px solid;"<%}%>>
                                                <a class="txt-primary font-weight-bold"href="/admin/nguoi-dung/danh-sach?page=1&sort=email">Email</a>
                                            </th>
                                            <th class="text-center txt-primary" <%if(query.sort=='phone'){%>style="border-bottom: 2px solid;"<%}%>>
                                                <a class="txt-primary font-weight-bold"href="/admin/nguoi-dung/danh-sach?page=1&sort=phone">SĐT</a>
                                            </th>
                                            <th class="text-center txt-primary" <%if(query.sort=='price'){%>style="border-bottom: 2px solid;"<%}%>>
                                                <a class="txt-primary font-weight-bold"href="/admin/nguoi-dung/danh-sach?page=1&sort=address">Địa chỉ</a>
                                            </th>
                                            <th class="text-center txt-primary" <%if(query.sort=='status'){%>style="border-bottom: 2px solid;"<%}%>>
                                                <a class="txt-primary font-weight-bold"href="/admin/nguoi-dung/danh-sach?page=1&sort=status">Trạng thái</a>
                                            </th>
                                            <th class="text-center txt-primary">Tùy chọn</th>
                                        </tr>
                                    </thead>
                                    <tbody id="myList">
                                        <% users.forEach(function(user){ %>
                                        <tr>
                                            <td title="<%=user.created%>"><%=getDateCreated(user.created)%></td>
                                            <td class="text-center user-avatar">
                                                <%if(user.avatar){%>
                                                <img src="/images/avatars/<%=user.avatar%>">
                                                <%}else{%>
                                                <img src="/admin/images/avatar-1.png">
                                                <%}%>
                                            </td>
                                            <td><%= user.fullname %></td>
                                            <td><%= user.username %></td>
                                            <td><%= user.email %></td>
                                            <td><%= user.phone %></td>
                                            <td><%= user.address %></td>
                                            <td class="text-center">
                                                <span  style="cursor: pointer;" data-block="<%=user.block%>" data-id="<%=user._id%>" class="change-status label
                                                    <% if(user.block == false){ %>
                                                    label-success m-t-20">Mở
                                                    <% }else{ %>
                                                    label-danger">Khóa
                                                    <% } %>
                                                </span>
                                            </td>
                                            <td class="faq-table-btn text-center">
                                                <button type="button" class="btn btn-success waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="View">
                                                    <i class="icofont icofont-eye-alt"></i>
                                                </button>
                                                <button type="button" class="btn btn-danger waves-effect waves-light delete-user" data-id="<%=user._id%>" data-name="<%=user.username%>" Wdata-toggle="tooltip" data-placement="top" title="Delete">
                                                    <i class="icofont icofont-ui-delete"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <% }) %>


                                    </tbody>
                                </table>
                            </div>
                            <%if(pagination.totalItem>0){%>
                            <%-include('layout/pagination',{pagination:pagination});%>
                            <%}%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hover effect table ends -->


        <!-- Required Jqurey -->
        <script src="/admin/plugins/jquery/dist/jquery.min.js"></script>
        <script src="/admin/plugins/jquery-ui/jquery-ui.min.js"></script>
        <script src="/admin/plugins/tether/dist/js/tether.min.js"></script>

        <!-- Required Fremwork -->
        <script src="/admin/plugins/bootstrap/js/bootstrap.min.js"></script>

        <!-- waves effects.js -->
        <script src="/admin/plugins/Waves/waves.min.js"></script>

        <!-- Scrollbar JS-->
        <script src="/admin/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
        <script src="/admin/plugins/jquery.nicescroll/jquery.nicescroll.min.js"></script>

        <!--classic JS-->
        <script src="/admin/plugins/classie/classie.js"></script>

        <!-- notification -->
        <script src="/admin/plugins/notification/js/bootstrap-growl.min.js"></script>

         <!-- sweetalert -->
         <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

        <!-- custom js -->
        <script type="text/javascript" src="/admin/js/main.min.js"></script>
        <script type="text/javascript" src="/admin/pages/elements.js"></script>
        <script src="/admin/js/menu.min.js"></script>

       

        <!-- search js -->
        <script>
            serialize = function(obj) {
                var str = [];
                for (var p in obj){
                    if (obj.hasOwnProperty(p)&&obj[p]!=null) {
                        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                    }
                    if(str.length==0){
                        return '';
                    }
                }
                return '?'+str.join("&");
            }
            $(document).ready(function () {
                $("#myInput").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $("#myList tr").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });

                var url =window.location.href.split('?')[0];
                var mquery=<%-JSON.stringify(query)%>;
                if(mquery!=null){
                    if(mquery.block!=null){
                        $('select[name="block"] option').each(function(){
                            if($(this).val() == mquery.block){
                                $(this).attr('selected',true);
                            }
                        });
                    }
                }
                $('select[name="block"]').change(function(){
                    if($(this).val()=='all'){
                        mquery.block=null;
                    }
                    else{
                        mquery.block=$(this).val();
                    }

                    window.location= url+serialize(mquery);
                });

                $('.submit-search').click(function(){
                    $('#form-search').submit();
                })

                $('.change-status').click(function(){
                    var id = $(this).attr('data-id');
                    var status = $(this).attr('data-block'); // true: block, false: active
                    var _csrf = $('meta[name="csrf-token"]').attr('content');
                    console.log(status);
                    Swal.fire({
                        title: 'Cập nhật trạng thái khách hàng',
                        input: 'radio',
                        inputOptions: {'false':'Mở','true':'Khóa'},
                        inputValue:status,
                        showCancelButton:true,
                        cancelButtonText:'Hủy',
                        inputValidator: (value) => {
                            if (value==status) {
                                return;
                            }
                            else{
                                $.ajax({
                                    url:'/admin/nguoi-dung/update-status',
                                    type:'post',
                                    data:{id:id,status:value,_csrf:_csrf},
                                    success:function(res){
                                        if(res.error){
                                            Swal.fire({
                                             icon: 'error',
                                             title: 'Oops...',
                                             text: 'Đã có lỗi xảy ra. Vui lòng thử lại sau!',
                                         })
                                        }
                                        else{
                                            location.href = location.href;
                                        }
                                    }
                                })
                            }
                        }
                    })
                })

                $('.delete-user').click(function(){
                    var id = $(this).attr('data-id');
                    var name = $(this).attr('data-name');
                    var _csrf = $('meta[name="csrf-token"]').attr('content');
                    Swal.fire({
                      title: 'Xóa người dùng?',
                      text: name+" sẽ bị xóa khỏi hệ thống!",
                      icon: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#d33',
                      confirmButtonText: 'Xóa!',
                      cancelButtonText:'Hủy',
                  }).then((result) => {
                      if (result.value) {
                        $.ajax({
                                    url:'/admin/nguoi-dung/delete-user',
                                    type:'post',
                                    data:{id:id,_csrf:_csrf},
                                    success:function(res){
                                        if(res.error){
                                            Swal.fire({
                                             icon: 'error',
                                             title: 'Oops...',
                                             text: 'Đã có lỗi xảy ra. Vui lòng thử lại sau!',
                                         })
                                        }
                                        else{
                                            location.href = location.href;
                                        }
                                    }
                                })
                        Swal.fire(
                          'Đã xóa!',
                          'Người dùng đã bị xóa khỏi danh sách',
                          'success'
                          )
                    }
                })
              })
            });

        </script>
    </div>
</body>

</html>