<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="vi">

<head>
	<%include layout/head%>

</head>

<body>
	
	<%include layout/navigation%>

	<!-- banner -->
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		<!-- Indicators-->
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item item1 active">
				<div class="container">
					<div class="w3l-space-banner">
						<div class="carousel-caption p-lg-5 p-sm-4 p-3">
							<p>Giảm ngay <span>10%</span> tiền mặt</p>
							<h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">Siêu
								<span>Giảm</span>
								Giá
							</h3>
							<a class="button2" href="/">Mua sắm ngay </a>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item item2">
				<div class="container">
					<div class="w3l-space-banner">
						<div class="carousel-caption p-lg-5 p-sm-4 p-3">
							<p>Tai nghe <span>KHÔNG DÂY</span> tiên tiến</p>
							<h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">
								<span>"Best"</span> Tai nghe
							</h3>
							<a class="button2" href="/">Mua sắm ngay </a>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item item3">
				<div class="container">
					<div class="w3l-space-banner">
						<div class="carousel-caption p-lg-5 p-sm-4 p-3">
							<p>Giảm ngay <span>10%</span> tiền mặt</p>
							<h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">
								<span>Tiêu chuẩn</span> mới nhất
							</h3>
							<a class="button2" href="/">Mua sắm ngay </a>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item item4">
				<div class="container">
					<div class="w3l-space-banner">
						<div class="carousel-caption p-lg-5 p-sm-4 p-3">
							<p>Nhận ngay <span>40%</span> giảm giá</p>
							<h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">Giảm giá
								<span>Hôm nay</span>
							</h3>
							<a class="button2" href="/">Mua sắm ngay </a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Trước</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Tiếp</span>
		</a>
	</div>
	<!-- //banner -->

	<!-- top Products -->
	<div class="ads-grid py-sm-5 py-4">
		<div class="container py-xl-4 py-lg-2">
			<!-- tittle heading -->
			<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
				<span>S</span>ản
				<span>P</span>hẩm
				<span>M</span>ới
			</h3>
			<!-- //tittle heading -->
			<div class="row">
				<!-- product left -->
				<div class="agileinfo-ads-display col-lg-12">
					<div class="wrapper">
						<!-- first section -->
						<%data.forEach(function(category, index){
							if(index==3){
								%>
								<div class="product-sec1 product-sec2 px-sm-5 px-3">
									<div class="row">
										<h3 class="col-md-4 effect-bg">Lễ hội mùa hè</h3>
										<p class="w3l-nut-middle">Nhận thêm 10% giảm giá</p>
										<div class="col-md-8 bg-right-nut">
											<img src="/images/image1.png" alt="">
										</div>
									</div>
								</div>
								<%
							}
							%>

							<div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
								<h3 class="heading-tittle text-center font-italic"><%=category.name%> mới</h3>
								<div class="row">

									<%category.products.forEach(function(product,index){
										%>

										<div class="col-md-3 product-men mt-5">
											<div class="men-pro-item simpleCart_shelfItem">
												<div class="men-thumb-item text-center">
													<img src="/images/products/<%=product.images[0]%>" alt="" width="150px" height="200px">
													<div class="men-cart-pro">
														<div class="inner-men-cart-pro">
															<a href="/<%=category.slug%>/<%=product.slug%>" class="link-product-add-cart">Chi tiết</a>
														</div>
													</div>
												</div>
												<div class="item-info-product text-center border-top mt-4">
													<h4 class="pt-1 ov-hd">
														<a href="/<%=category.slug%>/<%=product.slug%>" title="<%=product.name%>"><%=product.name%></a>
													</h4>
													<div class="info-product-price my-2">
														<%if(product.discount>0){
															%>

															<span class="item_price"><%=product.price*product.discount%> VNĐ</span>
															<del><%=product.price%> VNĐ</del>
															<%
														} else{
															%>
															<span class="item_price"><%=product.price%> VNĐ</span>
															<%
														}%>
													</div>
													<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
														<form action="#" method="post">
															<fieldset>
																<input type="hidden" name="cmd" value="_cart" />
																<input type="hidden" name="add" value="1" />
																<input type="hidden" name="business" value=" " />
																<input type="hidden" name="item_name" value="<%=product.name%>" />
																<input type="hidden" name="amount" value="<%=product.price*product.discount%>" />
																<input type="hidden" name="discount_amount" value="<%=product.discount%>" />
																<input type="hidden" name="currency_code" value="VND" />
																<input type="hidden" name="return" value=" " />
																<input type="hidden" name="cancel_return" value=" " />
																<input type="submit" name="submit" value="Thêm vào giỏ" class="button btn" />
															</fieldset>
														</form>
													</div>
												</div>
											</div>
										</div>
										<%
									})%>
								</div>
							</div>
							<%
						})%>
					</div>

				</div>
			</div>
			<!-- //product left -->
		</div>
	</div>
</div>
<!-- //top products -->

<!-- middle section -->
<div class="join-w3l1 py-sm-5 py-4">
	<div class="container py-xl-4 py-lg-2">
		<div class="row">
			<div class="col-lg-6">
				<div class="join-agile text-left p-4">
					<div class="row">
						<div class="col-sm-7 offer-name">
							<h6>Âm thanh mượt mà, phong phú và to</h6>
							<h4 class="mt-2 mb-3">Tai nghe</h4>
							<p>Giảm giá tới 25% tất cả trong cửa hàng</p>
						</div>
						<div class="col-sm-5 offerimg-w3l">
							<img src="images/off1.png" alt="" class="img-fluid">
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 mt-lg-0 mt-5">
				<div class="join-agile text-left p-4">
					<div class="row ">
						<div class="col-sm-7 offer-name">
							<h6>Điện thoại cỡ trung bình</h6>
							<h4 class="mt-2 mb-3">Smart Phones 5</h4>
							<p>Miễn phí vận chuyển trên $ 100</p>
						</div>
						<div class="col-sm-5 offerimg-w3l">
							<img src="/images/off2.png" alt="" class="img-fluid">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- middle section -->

<%include layout/footer%>
</body>

</html>