<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
	<%include layout/head%>

</head>

<body>
	<%include layout/navigation%>
	<!-- banner-2 -->
	<div class="page-head_agile_info_w3l">

	</div>
	<!-- //banner-2 -->
	<!-- page -->
	<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
						<a href="/">Home</a>
						<i>|</i>
					</li>
					<li><%=category.name%></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //page -->

	<!-- top Products -->
	<div class="ads-grid py-sm-5 py-4">
		<div class="container py-xl-4 py-lg-2">
			<!-- tittle heading -->
			<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
				<span><%=category.name.substring(0,1)%></span><%=category.name.substring(1)%>
			</h3>
			<!-- //tittle heading -->
			<div class="row">
				<!-- product left -->
				<div class="agileinfo-ads-display col-lg-9">
					<div class="wrapper">
						<%category.products.forEach(function(product,index){
							if(index%3==0){
								%>
								<div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
									<div class="row">
										<%
									}%>

									<div class="col-md-4 product-men">
										<div class="men-pro-item simpleCart_shelfItem">
											<div class="men-thumb-item text-center">
												<img src="/images/products/<%=product.images[0]%>" alt="" width="150px" height="200px">
												<div class="men-cart-pro">
													<div class="inner-men-cart-pro">
														<a href="/<%=category.slug%>/<%=product.slug%>" class="link-product-add-cart">Chi tiết</a>
													</div>
												</div>
											</div>
											<div class="item-info-product text-center border-top mt-4">
												<h4 class="pt-1 ov-hd">
													<a href="/<%=category.slug%>/<%=product.slug%>" title="<%=product.name%>"><%=product.name%></a>
												</h4>
												<div class="info-product-price my-2">
													<%if(product.discount>0){
														%>

														<span class="item_price"><%=product.price*product.discount%> VNĐ</span>
														<del><%=product.price%> VNĐ</del>
														<%
													} else{
														%>
														<span class="item_price"><%=product.price%> VNĐ</span>
														<%
													}%>
												</div>
												<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
													<form action="#" method="post">
														<fieldset>
															<input type="hidden" name="product_id" value="<%=product._id%>">
															<input type="hidden" name="cmd" value="_cart" />
															<input type="hidden" name="add" value="1" />
															<input type="hidden" name="business" value=" " />
															<input type="hidden" name="item_name" value="<%=product.name%>" />
															<input type="hidden" name="amount" value="<%=product.price*product.discount%>" />
															<input type="hidden" name="discount_amount" value="<%=product.discount%>" />
															<input type="hidden" name="currency_code" value="VND" />
															<input type="hidden" name="return" value=" " />
															<input type="hidden" name="cancel_return" value=" " />
															<input type="submit" name="submit" value="Thêm vào giỏ" class="button btn add-to-cart" />
														</fieldset>
													</form>
												</div>

											</div>
										</div>
									</div>
									<%if((index%3 == 2) ||index==category.products.length-1 ){
										%>
									</div>
								</div>
								<%}
							})%>
							<!-- //first section -->
						</div>
						<%if(pagination.totalItem>0){%>
						<%-include('layout/pagination',{pagination:pagination});%>
						<%}%>
					</div>
					<!-- //product left -->
					<!-- product right -->
					<div class="col-lg-3 mt-lg-0 mt-4 p-lg-0">
						<div class="side-bar p-sm-4 p-3">
							<div class="search-hotel py-2">
								<form action="/<%=category.slug%>/" method="get">
									<input class="border" type="search" placeholder="Tìm sản phẩm..." name="q" required="" value="<%=query.q%>">
									<input type="submit" value=" ">
								</form>
							</div>
							<div class="agileits-navi_search border-bottom py-2">
								<h3 class="agileits-sear-head mb-3">Sắp xếp</h3>
								<form action="#" method="post">
									<select id="agileinfo-nav_search" name="sort" class="border" required="">
										<option value="new">Mới nhất</option>
										<option value="old">Cũ nhất</option>
										<option value="expensive">Giá cao nhất</option>
										<option value="cheap">Giá thấp nhất</option>
										<option value="discount">Giảm giá nhiều nhất</option>
									</select>
								</form>
							</div>
							<div class="search-hotel border-bottom py-2">
								<h3 class="agileits-sear-head mb-3">Hãng</h3>
								<div class="left-side py-2">
									<ul>
										<li>
											<input type="radio" class="checked" name="brand" value="all" <%if(query.brand==null){%>checked<%}%>>
											<span class="span">Tất cả</span>
										</li>
										<%category.brands.forEach(function(brand){
											%>
											<li>
												<input type="radio" class="checked" name="brand" value="<%=brand.name%>">
												<span class="span"><%=brand.name%></span>
											</li>
											<%
										})%>
									</ul>
								</div>
							</div>
							<!-- price -->
							<div class="left-side border-bottom py-2">
								<h3 class="agileits-sear-head mb-3">Giá</h3>

								<ul>
									<li>
										<input type="radio" class="checked" name="rdprice" value="all">
										<span class="span">Tất cả</span>
									</li>
									<li>
										<input type="radio" class="checked" name="rdprice" value="0|200000">
										<span class="span">< 200,000 VNĐ</span>
									</li>
									<li>
										<input type="radio" class="checked" name="rdprice" value="200000|500000">
										<span class="span">200,000 - 500,000 VNĐ</span>
									</li>
									<li>
										<input type="radio" class="checked" name="rdprice" value="500000|1000000">
										<span class="span">500,000 - 1,000,000 VNĐ</span>
									</li>
									<li>
										<input type="radio" class="checked" name="rdprice" value="1000000|2000000">
										<span class="span">1,000,000 - 2,000,000 VNĐ</span>
									</li>
									<li>
										<input type="radio" class="checked" name="rdprice" value="2000000|5000000">
										<span class="span">2,000,000 - 5,000,000 VNĐ</span>
									</li>
									<li>
										<input type="radio" class="checked" name="rdprice" value="5000000|10000000">
										<span class="span">5,000,000 - 10,000,000 VNĐ</span>
									</li>
									<li>
										<input type="radio" class="checked" name="rdprice" value="10000000|20000000">
										<span class="span">10,000,000 - 20,000,000 VNĐ</span>
									</li>
									<li>
										<input type="radio" class="checked" name="rdprice" value="20000000|40000000">
										<span class="span">20,000,000 - 40,000,000 VNĐ</span>
									</li>
									<li>
										<input type="radio" class="checked" name="rdprice" value="40000000|0">
										<span class="span"> > 40,000,000 VNĐ</span>
									</li>
								</ul>
							</div>
							<!-- //price -->
							<!-- discounts -->
							<div class="left-side border-bottom py-2">
								<h3 class="agileits-sear-head mb-3">Giảm giá</h3>
								<ul>
									<li>
										<input type="radio" class="checked" name="rddiscount" value="all">
										<span class="span"> Tất cả</span>
									</li>
									<li>
										<input type="radio" class="checked" name="rddiscount" value="5">
										<span class="span"> >= 5%</span>
									</li>
									<li>
										<input type="radio" class="checked" name="rddiscount" value="10">
										<span class="span"> >= 10%</span>
									</li>
									<li>
										<input type="radio" class="checked" name="rddiscount" value="20">
										<span class="span"> >= 20%</span>
									</li>
									<li>
										<input type="radio" class="checked" name="rddiscount" value="30">
										<span class="span"> >= 30%</span>
									</li>
									<li>
										<input type="radio" class="checked" name="rddiscount" value="50">
										<span class="span"> >= 50%</span>
									</li>
									<li>
										<input type="radio" class="checked" name="rddiscount" value="60">
										<span class="span"> >= 60%</span>
									</li>
								</ul>
							</div>
							<!-- //discounts -->
							<!-- offers -->
							<div class="left-side border-bottom py-2">
								<h3 class="agileits-sear-head mb-3">Ưu đã</h3>
								<ul>
									<li>
										<input type="checkbox" class="checked">
										<span class="span">Ưu đãi đổi hàng</span>
									</li>
									<li>
										<input type="checkbox" class="checked">
										<span class="span">Miễn phí vận chuyển</span>
									</li>
									<li>
										<input type="checkbox" class="checked">
										<span class="span">Giá đặc biệt</span>
									</li>
								</ul>
							</div>
							<!-- //offers -->
							<!-- delivery -->
							<div class="left-side border-bottom py-2">
								<h3 class="agileits-sear-head mb-3">Thanh toán khi giao hàng</h3>
								<ul>
									<li>
										<input type="checkbox" class="checked">
										<span class="span">Đủ điều kiện nhận tiền mặt khi giao hàng</span>
									</li>
								</ul>
							</div>
							<!-- //delivery -->
							<!-- arrivals -->
							<div class="left-side border-bottom py-2">
								<h3 class="agileits-sear-head mb-3">Hàng mới về</h3>
								<ul>
									<li>
										<input type="checkbox" class="checked">
										<span class="span">30 ngày gần nhất</span>
									</li>
									<li>
										<input type="checkbox" class="checked">
										<span class="span">90 ngày gần nhất</span>
									</li>
								</ul>
							</div>
						</div>
						<!-- //product right -->
					</div>
				</div>
			</div>
		</div>
		<!-- //top products -->

		<!-- middle section -->
		<div class="join-w3l1 py-sm-5 py-4">
			<div class="container py-xl-4 py-lg-2">
				<div class="row">
					<div class="col-lg-6">
						<div class="join-agile text-left p-4">
							<div class="row">
								<div class="col-sm-7 offer-name">
									<h6>Âm thanh mượt mà, phong phú và to</h6>
									<h4 class="mt-2 mb-3">Tai nghe</h4>
									<p>Giảm giá tới 25% tất cả trong cửa hàng</p>
								</div>
								<div class="col-sm-5 offerimg-w3l">
									<img src="/images/off1.png" alt="" class="img-fluid">
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 mt-lg-0 mt-5">
						<div class="join-agile text-left p-4">
							<div class="row ">
								<div class="col-sm-7 offer-name">
									<h6>Điện thoại cỡ trung bình</h6>
									<h4 class="mt-2 mb-3">Smart Phones 5</h4>
									<p>Miễn phí vận chuyển trên $ 100</p>
								</div>
								<div class="col-sm-5 offerimg-w3l">
									<img src="/images/off2.png" alt="" class="img-fluid">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- middle section -->
		<%include layout/footer%>
		<script type="text/javascript">
			serialize = function(obj) {
				var str = [];
				for (var p in obj)
					if (obj.hasOwnProperty(p)&&obj[p]!=null) {
						str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
					}
					if(str.length==0){
						return '';
					}
					return '?'+str.join("&");
				}
				$(document).ready(function(){
					var url =window.location.href.split('?')[0];
					var mquery=<%-JSON.stringify(query)%>;
					if(mquery!=null){
						if(mquery.minPrice !=null && mquery.maxPrice !=null){
							$('input[name="rdprice"]').each(function(){
								if($(this).val() == mquery.minPrice+'|'+mquery.maxPrice){
									$(this).attr('checked',true);
								}
							});
						}
						if(mquery.discount!=null){
							$('input[name="rddiscount"]').each(function(){
								if($(this).val() == mquery.discount){
									$(this).attr('checked',true);
								}
							});
						}
						if(mquery.brand!=null){
							$('input[name="brand"]').each(function(){
								if($(this).val() == mquery.brand){
									$(this).attr('checked',true);
								}
							});
						}
						if(mquery.sort!=null){
							$('select[name="sort"] option').each(function(){
								if($(this).val() == mquery.sort){
									$(this).attr('selected',true);
								}
							});
						}
					}

					$('input[name="rdprice"]').change(function(){
						if($(this).val()==='all'){
							mquery.minPrice=null;
							mquery.maxPrice=null;	
						}
						else{
							var prices= $(this).val().split('|');
							mquery.minPrice=prices[0];
							mquery.maxPrice=prices[1];
						}
						window.location= url+serialize(mquery);

					});

					$('input[name="brand"]').change(function(){
						if($(this).val()=='all'){
							mquery.brand=null;
						}
						else{
							mquery.brand=$(this).val();
						}
						
						window.location= url+serialize(mquery);
					});
					$('input[name="rddiscount"]').change(function(){
						if($(this).val()=='all'){
							mquery.discount=null;
						}
						else{
							mquery.discount=$(this).val();
						}
						
						window.location= url+serialize(mquery);
					});

					$('select[name="sort"]').change(function(){
						mquery.sort=$(this).val();
						window.location= url+serialize(mquery);
					})


				})
			</script>
		</body>

		</html>