<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
	<%include layout/head%>
	<link rel="stylesheet" type="text/css" href="/css/comment.css">
</head>

<body>
	<%include layout/navigation%>

	<!-- banner-2 -->
	<div class="page-head_agile_info_w3l">

	</div>
	<!-- //banner-2 -->
	<!-- page -->
	<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
						<a href="/">Trang chủ</a>
						<i>|</i>
					</li>
					<li>
						<a href="/<%=product.categoryId.slug%>"><%=product.categoryId.name%></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //page -->

	<!-- Single Page -->
	<div class="banner-bootom-w3-agileits py-5">
		<div class="container py-xl-4 py-lg-2">
			<!-- tittle heading -->
			<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
				<span>S</span>ản
				<span>P</span>hẩm
				<br>' Chỉ mang tính đại diện '</span></h3>
				<!-- //tittle heading -->
				<div class="row">
					<div class="col-lg-5 col-md-8 single-right-left ">
						<div class="grid images_3_of_2">
							<div class="flexslider">
								<ul class="slides">
									<%for(var i=1;i<=3;i++){
										%>
										<li data-thumb="/images/products/<%=product.images[0]%>">
											<div class="thumb-image">
												<img src="/images/products/<%=product.images[0]%>" data-imagezoom="true" class="img-fluid" alt=""> 
											</div>
										</li>
										<%
									}%>
								</ul>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>

					<div class="col-lg-7 single-right-left simpleCart_shelfItem">
						<h3 class="mb-3"><%=product.name%></h3>
						<p class="mb-2">
							<%if(product.discount>0){
								%>

								<span class="item_price"><%=priceAfterDiscount(product.price,product.discount)%> VNĐ</span>
								<del class="mx-2 font-weight-light"><%=priceFormat(product.price)%> VNĐ</del>
								<span class="p-2 badge badge-success">-<%=product.discount%>%</span>
								<%
							} else{
								%>
								<span class="item_price"><%=priceFormat(product.price)%> VNĐ</span>
								<%
							}%>
						</p>
						<p class="mb-2">
							<a href="/<%=product.categoryId?product.categoryId.slug:null%>"><span class="p-2 badge badge-primary"><%=product.categoryId?product.categoryId.name:null%></span></a>
							<span class="p-2 badge badge-success"><%=product.brandId?product.brandId.name:null%></span>
						</p>
						<p class="mb-2">
							<%if(product.quantity>0){%>
							<span class="p-2 badge badge-success">Còn <b><%=product.quantity%></b></span>
							<%}else{%>
							<span class="p-2 badge badge-danger">Hết hàng</span>
							<%}%>
						</p>
						<p class="mb-2">
							 Lượt xem: <span class="p-2 badge badge-success"><%=product.view%></span>
						</p>
						<div class="single-infoagile">
							<ul>
								<li class="mb-3">
									<%=(product.description)?production.description:'Mô tả'%>
								</li>
							</ul>
						</div>
						<div class="product-single-w3l">
							<p class="my-3">
								<i class="far fa-hand-point-right mr-2"></i>
							Thông tin sản phẩm</p>
							<ul>
								<li class="mb-1">
									<%=product.detail%>
								</li>
							</ul>
							<p class="my-sm-4 my-3">
								<i class="fas fa-retweet mr-3"></i>Ngân hàng ròng & Tín dụng / Ghi nợ / Thẻ ATM
							</p>
						</div>
						<div class="occasion-cart">
							<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
								<form action="#" method="post">
									<fieldset>
										<input type="hidden" name="product_id" value="<%=product._id%>">
										<input type="hidden" name="cmd" value="_cart" />
										<input type="hidden" name="add" value="1" />
										<input type="hidden" name="business" value=" " />
										<input type="hidden" name="item_name" value="<%=product.name%>" />
										<input type="hidden" name="amount" value="<%=product.price*product.discount%>" />
										<input type="hidden" name="discount_amount" value="<%=product.discount%>" />
										<input type="hidden" name="currency_code" value="VNĐ" />
										<input type="hidden" name="return" value=" " />
										<input type="hidden" name="cancel_return" value=" " />
										<input type="submit" name="submit" value="Thêm vào giỏ hàng" class="button add-to-cart" />
									</fieldset>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- //Single Page -->

		<!-- Relate Product -->
		<div class="px-sm-4 px-3 py-sm-5  py-3 mb-4">
			<h3 class="heading-tittle text-center font-italic">Sản phẩm liên quan</h3>
			<div class="row">

				<%relateProducts.forEach(function(product,index){
					%>

					<div class="col-md-3 product-men mt-5">
						<div class="men-pro-item simpleCart_shelfItem">
							<div class="men-thumb-item text-center">
								<img src="/images/products/<%=product.images[0]%>" alt="" width="150px" height="200px">
								<div class="men-cart-pro">
									<div class="inner-men-cart-pro">
										<a href="/<%=product.categoryId.slug%>/<%=product.slug%>" class="link-product-add-cart">Chi tiết</a>
									</div>
								</div>
							</div>
							<div class="item-info-product text-center border-top mt-4">
								<h4 class="pt-1 ov-hd">
									<a href="/<%=product.categoryId.slug%>/<%=product.slug%>" title="<%=product.name%>"><%=product.name%></a>
								</h4>
								<div class="info-product-price my-2">
									<%if(product.discount>0){
										%>

										<span class="item_price"><%=priceAfterDiscount(product.price,product.discount)%> VNĐ</span>
										<del><%=priceFormat(product.price)%> VNĐ</del>
										<%
									} else{
										%>
										<span class="item_price"><%=priceFormat(product.price)%> VNĐ</span>
										<%
									}%>
								</div>
								<%if(product.discount>0){%>
								<span class="product-new-top">-<%=product.discount%>%</span>
								<%}%>
								<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
									<form action="#" method="post">
										<fieldset>
											<input type="hidden" name="product_id" value="<%=product._id%>">
											<input type="hidden" name="cmd" value="_cart" />
											<input type="hidden" name="add" value="1" />
											<input type="hidden" name="business" value=" " />
											<input type="hidden" name="item_name" value="<%=product.name%>" />
											<input type="hidden" name="amount" value="<%=product.price*product.discount%>" />
											<input type="hidden" name="discount_amount" value="<%=product.discount%>" />
											<input type="hidden" name="currency_code" value="VND" />
											<input type="hidden" name="return" value=" " />
											<input type="hidden" name="cancel_return" value=" " />
											<input type="submit" name="submit" value="Thêm vào giỏ" class="button btn add-to-cart" />
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div>
					<%
				})%>
			</div>
		</div>
		<!-- //Relate product -->

		<div class="panel-comment mb-3">
			<h3 class="px-5">Bình luận (<%=product.comments_count%>)</h3>
			<div class="mt-3">
				<div class="col-lg-8 pt-3  mx-sm-2 mx-lg-5 border-top">
					<div class="comment-box">
						<div class="form-group">
							<textarea class="form-control" name="comment_content" placeholder="Nội dung bình luận"></textarea>
							<div class="invalid-feedback invalid-comment-content">Vui lòng nhập nội dung bình luận</div>
						</div>
						<div class="comment-box-expand">
							<div class="row">
								<div class="form-group col-lg-6">
									<%if(!logged){%>
									<input type="text" class="form-control" placeholder="Tên " name="comment_user" required="">
									<%}else{%>
									<input type="text" disabled="disabled" class="form-control" name="comment_user" required="" value="<%=user.username%>">
									<%}%>
									<div class="invalid-feedback invalid-comment-user">Vui lòng nhập tên</div>
								</div>

								<div class="col-lg-6">
									<input type="hidden" name="comment_product" value="<%=product._id%>">
									<input type="submit" class="btn btn-primary btn-submit-comment" value="Đăng bình luận">
								</div>
							</div>
						</div>
					</div>
					<div class="payload-comments">
						
					</div>
				</div>
			</div>
		</div>

		<!-- middle section -->
		<div class="join-w3l1 py-sm-5 py-4">
			<div class="container py-xl-4 py-lg-2">
				<div class="row">
					<div class="col-lg-6">
						<div class="join-agile text-left p-4">
							<div class="row">
								<div class="col-sm-7 offer-name">
									<h6>Âm thanh mượt mà, phong phú và to</h6>
									<h4 class="mt-2 mb-3">Tai nghe</h4>
									<p>Giảm giá tới 25% tất cả trong cửa hàng</p>
								</div>
								<div class="col-sm-5 offerimg-w3l">
									<img src="/images/off1.png" alt="" class="img-fluid">
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 mt-lg-0 mt-5">
						<div class="join-agile text-left p-4">
							<div class="row ">
								<div class="col-sm-7 offer-name">
									<h6>Điện thoại cỡ trung bình</h6>
									<h4 class="mt-2 mb-3">Smart Phones 5</h4>
									<p>Miễn phí vận chuyển trên $ 100</p>
								</div>
								<div class="col-sm-5 offerimg-w3l">
									<img src="/images/off2.png" alt="" class="img-fluid">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- middle section -->

		<%include layout/footer%>
		<script src="/js/imagezoom.js"></script>
		<!-- //imagezoom -->

		<!-- flexslider -->
		<link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="screen" />

		<script src="/js/jquery.flexslider.js"></script>
		<script>
		// Can also be used with $(document).ready()
		$(window).load(function () {
			$('.flexslider').flexslider({
				animation: "slide",
				controlNav: "thumbnails"
			});
		});
		$(document).ready(function(){
			$('textarea[name="comment_content"]').click(function(){
				$('.comment-box-expand').slideDown();
			});

			$('.btn-submit-comment').click(function(){
				var productId = $('input[name="comment_product"]').val();
				var content= $('textarea[name="comment_content"]').val();
				if(content==""){
					$('.invalid-comment-content').show();
					return;
				}
				var name = $('input[name="comment_user"]').val();
				if(name==""){
					$('.invalid-comment-user').show();
					return;
				}
				var _csrf = $('meta[name="csrf-token"]').attr('content');
				$.ajax({
					url:'/comment/create',
					type:'post',
					data:{name:name,content:content,productId:productId,_csrf:_csrf},
					success:function(res){
						if(typeof res.error == 'undefined' || res.error==false){
							$('textarea[name="comment_content"]').val('');
							$('.comment-list').prepend(res);
						}
						else{
							alert('Đã có lỗi xảy ra. Vui lòng thử lại sau!');
						}
					}
				})
			});

			$('textarea[name="comment_content"]').keyup(function(){
				$('.invalid-comment-content').hide();
			});
			$('input[name="comment_user"]').keyup(function(){
				$('.invalid-comment-user').hide();
			});

			$.get('/comment/list-comment-product?page=1&productId=<%=product._id%>',function(res){
				if(typeof res.error == 'undefined' || res.error==false){
					$('.payload-comments').html(res);
				}
			});

			$(document).on('click','.payload-comments .pagination a',function(e){
				e.preventDefault();
				var url = '/comment' + $(this).attr('data-url');
				$.get(url,function(res){
					if(typeof res.error == 'undefined' || res.error==false){
						$('.payload-comments').html(res);
					}
				});
			})
		});

	</script>
</body>

</html>