<!-- footer -->
<footer>
	<div id="PPminicarts">
		<form method="post" class="<% if (session.cart.totalItem==0) { %>minicarts-empty<% } else {%>minicarts-av <%}%>">
			<button type="button" class="minicarts-closer">&times;</button>    
			<ul class="list-cart">
				<%for(const [key,cartItem] of Object.entries( session.cart.items )){ %>
				<li class="minicarts-item">
					<div class="minicarts-details-image">
						<img src="/images/products/<%=cartItem.item.images[0]%>">
					</div>
					<div class="minicarts-details-name">
						<a class="minicarts-name" href="<%= cartItem.item.link %>"><%= cartItem.item.name %></a>                
						<ul class="minicarts-attributes">
							<% if (cartItem.item.discount>0) { %>                    
							<li>Giảm: <%=cartItem.item.discount%>%</li>
							<% } %>      
						</ul>
					</div>
					<div class="minicarts-details-quantity">
						<input class="minicarts-quantity" data-minicarts-idx="<%= key %>" name="quantity_<%= key %>" type="text" pattern="[0-9]*" value="<%= cartItem.qty %>" autocomplete="off" />
					</div>
					<div class="minicarts-details-remove">
						<button type="button" class="minicarts-remove" data-minicarts-idx="<%= key%>">&times;</button>
					</div>
					<div class="minicarts-details-price">
						<span class="minicarts-price price-format"><%= priceFormat(cartItem.price) %></span><sup>đ</sup>
					</div>
				</li>
				<% } %>
			</ul>
			<div class="minicarts-footer">
				<div class="minicarts-subtotal hide-if-empty">Tổng tiền: <span class="price-format"><%= priceFormat(session.cart.totalPrice) %></span><sup>đ</sup></div>
				<a href="/don-hang" class="minicarts-submit btn hide-if-empty" data-minicarts-alt="Thanh toán">Đến thanh toán</a>
				<p class="minicarts-empty-text">Chưa có sản phẩm trong giỏ hàng</p>
			</div>
		</form>
	</div>
	<div class="footer-top-first">
		<div class="container py-md-5 py-sm-4 py-3">
			<!-- footer first section -->
			<h2 class="footer-top-head-w3l font-weight-bold mb-2">Thiết bị điện tử :</h2>
			<p class="footer-main mb-4">
				Nếu bạn đang xem xét một máy tính xách tay mới, tìm kiếm một âm thanh nổi xe hơi mới mạnh mẽ hoặc mua một 
				HDTV mới, chúng tôi giúp bạn dễ dàng tìm thấy chính xác những gì bạn cần với mức giá bạn có thể chi trả. 
				Chúng tôi cung cấp Giá thấp mỗi ngày trên TV, máy tính xách tay, điện thoại di động, máy tính bảng và iPad,
			rò chơi video, máy tính để bàn, máy ảnh và máy quay phim, âm thanh, video và nhiều hơn nữa.</p>
			<!-- //footer first section -->
			<!-- footer second section -->
			<div class="row w3l-grids-footer border-top border-bottom py-sm-4 py-3">
				<div class="col-md-4 offer-footer">
					<div class="row">
						<div class="col-4 icon-fot">
							<i class="fas fa-dolly"></i>
						</div>
						<div class="col-8 text-form-footer">
							<h3>Vẫn chuyển miễn phí</h3>
							<p>với đơn hàng trên $100</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 offer-footer my-md-0 my-4">
					<div class="row">
						<div class="col-4 icon-fot">
							<i class="fas fa-shipping-fast"></i>
						</div>
						<div class="col-8 text-form-footer">
							<h3>Giao hàng nhanh chóng</h3>
							<p>Quy mô rộng</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 offer-footer">
					<div class="row">
						<div class="col-4 icon-fot">
							<i class="far fa-thumbs-up"></i>
						</div>
						<div class="col-8 text-form-footer">
							<h3>Lựa chọn hoàn hảo</h3>
							<p>cho mọi sản phẩm</p>
						</div>
					</div>
				</div>
			</div>
			<!-- //footer second section -->
		</div>
	</div>
	<!-- footer third section -->
	<div class="w3l-middlefooter-sec">
		<div class="container py-md-5 py-sm-4 py-3">
			<div class="row footer-info w3-agileits-info">
				<!-- footer categories -->
				<div class="col-md-3 col-sm-6 footer-grids">
					<h3 class="text-white font-weight-bold mb-3">Danh mục</h3>
					<ul>
						<li class="mb-3">
							<a href="product.html">Điện thoại </a>
						</li>
						<li class="mb-3">
							<a href="product.html">Máy tính</a>
						</li>
						<li class="mb-3">
							<a href="product.html">TV, Audio</a>
						</li>
						<li class="mb-3">
							<a href="product2.html">Điện thoại thông minh</a>
						</li>
						<li class="mb-3">
							<a href="product.html">Máy giặc</a>
						</li>
						<li>
							<a href="product2.html">Tủ lạnh</a>
						</li>
					</ul>
				</div>
				<!-- //footer categories -->
				<!-- quick links -->
				<div class="col-md-3 col-sm-6 footer-grids mt-sm-0 mt-4">
					<h3 class="text-white font-weight-bold mb-3">Truy cập ngay</h3>
					<ul>
						<li class="mb-3">
							<a href="/gioi-thieu">Giới thiệu</a>
						</li>
						<li class="mb-3">
							<a href="/lien-he">Liên hệ</a>
						</li>
						<li class="mb-3">
							<a href="help.html">Trợ giúp</a>
						</li>
						<li class="mb-3">
							<a href="#">Faqs</a>
						</li>
						<li class="mb-3">
							<a href="#">Điều khoản sử dụng</a>
						</li>
						<li>
							<a href="#">Chính sách bảo mật</a>
						</li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-6 footer-grids mt-md-0 mt-4">
					<h3 class="text-white font-weight-bold mb-3">Liên lạc</h3>
					<ul>
						<li class="mb-3">
							<i class="fas fa-map-marker"></i> 205 Lạc Long Quân, Q11.</li>
							<li class="mb-3">
								<i class="fas fa-mobile"></i> 333 222 3333 </li>
								<li class="mb-3">
									<i class="fas fa-phone"></i> +222 11 4444 </li>
									<li class="mb-3">
										<i class="fas fa-envelope-open"></i>
										<a href="mailto:example@mail.com"> mail 1@example.com</a>
									</li>
									<li>
										<i class="fas fa-envelope-open"></i>
										<a href="mailto:example@mail.com"> mail 2@example.com</a>
									</li>
								</ul>
							</div>
							<div class="col-md-3 col-sm-6 footer-grids w3l-agileits mt-md-0 mt-4">
								<!-- newsletter -->
								<h3 class="text-white font-weight-bold mb-3">Bản tin</h3>
								<p class="mb-3">Miễn phí vận chuyển cho đơn đầu tiên</p>
								<form action="#" method="post">
									<div class="form-group">
										<input type="email" class="form-control" placeholder="Email" name="email" required="">
										<input type="submit" value="Go">
									</div>
								</form>
								<!-- //newsletter -->
								<!-- social icons -->
								<div class="footer-grids  w3l-socialmk mt-3">
									<h3 class="text-white font-weight-bold mb-3">Theo dõi chúng tôi trên</h3>
									<div class="social">
										<ul>
											<li>
												<a class="icon fb" href="#">
													<i class="fab fa-facebook-f"></i>
												</a>
											</li>
											<li>
												<a class="icon tw" href="#">
													<i class="fab fa-twitter"></i>
												</a>
											</li>
											<li>
												<a class="icon gp" href="#">
													<i class="fab fa-google-plus-g"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>
								<!-- //social icons -->
							</div>
						</div>
						<!-- //quick links -->
					</div>
				</div>
				<!-- //footer third section -->


				<!-- copyright -->
				<div class="copy-right py-3">
					<div class="container">
						<p class="text-center text-white">© 2018 Electro Store. All rights reserved | Design by
							<a href="http://w3layouts.com"> W3layouts.</a>
						</p>
					</div>
				</div>
				<!-- //copyright -->

				<!-- js-files -->
				<!-- jquery -->
				<script src="/js/jquery-2.2.3.min.js"></script>
				<!-- //jquery -->

				<!-- nav smooth scroll -->
				<script>
					$(document).ready(function () {
						$(".dropdown").hover(
							function () {
								$('.dropdown-menu', this).stop(true, true).slideDown("fast");
								$(this).toggleClass('open');
							},
							function () {
								$('.dropdown-menu', this).stop(true, true).slideUp("fast");
								$(this).toggleClass('open');
							}
							);
					});
				</script>
				<!-- //nav smooth scroll -->

				<!-- popup modal (for location)-->
				<script src="/js/jquery.magnific-popup.js"></script>
				<script>
					$(document).ready(function () {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});

					});
				</script>
				<!-- //popup modal (for location)-->

				<!-- cart-js -->
				<!-- <script src="/js/minicart.js"></script> -->
				<script>
		// paypals.minicarts.render(); 
		//use only unique class names other than paypals.minicarts.Also Replace same class name in css and minicart.min.js

		// paypals.minicarts.cart.on('checkout', function (evt) {
		// 	var items = this.items(),
		// 	len = items.length,
		// 	total = 0,
		// 	i;

		// 	// Count the number of each item in the cart
		// 	for (i = 0; i < len; i++) {
		// 		total += items[i].get('quantity');
		// 	}

		// 	if (total < 3) {
		// 		alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
		// 		evt.preventDefault();
		// 	}
		// });
	</script>
	<!-- //cart-js -->

	<!-- password-script -->
	<script>
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}
		function priceFormat(price){
			var res = Number((price).toFixed(1)).toLocaleString();
			return res;
		}

		function validatePassword() {
			var pass2 = document.getElementById("password2").value;
			var pass1 = document.getElementById("password1").value;
			if(pass1.length<6){
				document.getElementById("password1").setCustomValidity("Mật khẩu tối thiểu 6 ký tự");
			}
			else{
				document.getElementById("password1").setCustomValidity('');
				if (pass1 != pass2)
					document.getElementById("password2").setCustomValidity("Mật khẩu xác nhận không khớp");
				else
					document.getElementById("password2").setCustomValidity('');
			}
			//empty string means no validation error
		}
		// function priceFormat(){
		// 	$('.price-format').each(function(){})
		// }
	</script>
	<!-- //password-script -->
	
	<!-- scroll seller -->
	<script src="/js/scroll.js"></script>
	<!-- //scroll seller -->

	<!-- smoothscroll -->
	<script src="/js/SmoothScroll.min.js"></script>
	<!-- //smoothscroll -->

	<!-- start-smooth-scrolling -->
	<script src="/js/move-top.js"></script>
	<script src="/js/easing.js"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
			$(".nav-item").removeClass("active");
			$('a[href="' + this.location.pathname + '"]').parents('li,ul').addClass('active');

			//top-search
			$('.btn-search-product').click(function(){
				var key = $('input[name="t_key"]').val().trim();
				if(key===""){
					$('input[name="t_key"]').focus();
					return false;
				}
				var cate = $('select[name="t_category"]').val();
				window.location = '/'+cate+'/?q='+key;
			})

			//sign up
			$('#sign-up-form').submit(function(e){
				e.preventDefault();
				var username=$('input[name="signup_username"]').val();
				var email=$('input[name="signup_email"]').val();
				var password=$('input[name="signup_password"]').val();
				var _csrf = $('meta[name="csrf-token"]').attr('content');
				$.ajax({
					url:'/tai-khoan/dang-ky',
					type:'post',
					data:{username:username,email:email,password:password,_csrf:_csrf},
					success:function(res){
						location.reload();
						return false;
					},
					error:function(xhr, textStatus, error){
						if(xhr.status==500){
							alert('Đã có lỗi xảy ra. Vui lòng quay lại sau');
						}
						else if(xhr.status==401){
							var message = xhr.responseJSON;
							if(typeof message.username != 'undefined'){
								$('.invalid-signup-username').html(message.username).show();
							}
							else if(typeof message.password != 'undefined'){
								$('.invalid-signup-password').html(message.password).show();
							}
						}
					}
					
				});
				return false;
			});
			$('input[name="signup_username"]').keyup(function(){
				$('.invalid-signup-username').hide();
			});
			$('input[name="signup_password"]').keyup(function(){
				$('.invalid-signup-password').hide();
			})

			//login-form
			$('#login-form').submit(function(e){
				e.preventDefault();
				var username=$('input[name="login_username"]').val();
				var password=$('input[name="login_password"]').val();
				var _csrf = $('meta[name="csrf-token"]').attr('content');
				$.ajax({
					url:'/tai-khoan/dang-nhap',
					type:'post',
					data:{username:username,password:password,_csrf,_csrf},
					success:function(res){
						location.reload();
						return false;
					},
					error:function(xhr, textStatus, error){
						if(xhr.status==500){
							alert('Đã có lỗi xảy ra. Vui lòng quay lại sau');
						}
						else if(xhr.status==401){
							var message = xhr.responseJSON;
							if(typeof message.username != 'undefined'){
								$('.invalid-login-username').html(message.username).show();
							}
							else if(typeof message.password != 'undefined'){
								$('.invalid-login-password').html(message.password).show();
							}
						}
					}
					
				});
				return false;
			})

			$('input[name="login_username"]').keyup(function(){
				$('.invalid-login-username').hide();
			});
			$('input[name="login_password"]').keyup(function(){
				$('.invalid-login-password').hide();
			});

			var cart = <%-JSON.stringify(session.cart)%>;

			//cart
			$('.add-to-cart').click(function(e){
				e.preventDefault();
				var id = $(this).siblings('input[name="product_id"]').val();
				var storedItem = cart.items[id];
				$.get('/cart/add-to-cart/'+id,function(res){
					if(res.message == 'success'){
						$("#PPminicarts").show();
						if($.isEmptyObject(cart.items)){
							$('#PPminicarts form').removeClass('minicarts-empty').addClass('minicarts-av');
						}
						cart = res.cart;
						if(storedItem){
							var qty= $('.minicarts-details-quantity input[name="quantity_'+id+'"]');
							var targetPrice = qty.parents('.minicarts-details-quantity').siblings('.minicarts-details-price').find('.minicarts-price');
							qty.val(parseInt(qty.val())+1);
							targetPrice.html(priceFormat(res.storedItem.price));
						}
						else{
							var cart_item = '<li class="minicarts-item"><div class="minicarts-details-image"><img src="/images/products/'+res.storedItem.item.images[0]+'"></div><div class="minicarts-details-name"><a class="minicarts-name" href="'+res.storedItem.item.link+'">'+res.storedItem.item.name+'</a><ul class="minicarts-attributes"></ul></div><div class="minicarts-details-quantity"><input class="minicarts-quantity" data-minicarts-idx="'+res.storedItem.item.id+'" name="quantity_'+res.storedItem.item.id+'" type="text" pattern="[0-9]*" value="'+res.storedItem.qty+'" autocomplete="off"></div><div class="minicarts-details-remove"><button type="button" class="minicarts-remove" data-minicarts-idx="'+res.storedItem.item.id+'">×</button></div><div class="minicarts-details-price"><span class="minicarts-price price-format">'+priceFormat(res.storedItem.item.price)+'</span><sup>đ</sup></div></li>';
							$('.list-cart').append(cart_item);
						}
						$('.minicarts-subtotal').find('span').html(priceFormat(cart.totalPrice));
					}
				})
			});

			$('.quick-view-cart').click(function(e){
				e.preventDefault();
				$("#PPminicarts").show();
			});

			$('.minicarts-closer').click(function(){
				$("#PPminicarts").hide();
			});

			$(document).on('change','.minicarts-quantity',function(){
				var amount = $(this).val();
				var id = $(this).attr('data-minicarts-idx');
				var cartItem = $(this).parents('.minicarts-item');
				var targetPrice = $(this).parents('.minicarts-details-quantity').siblings('.minicarts-details-price').find('.minicarts-price');
				$.get('/cart/increase-qty/'+id+'?amount='+parseInt(amount),function(res){
					if(res.message == 'success'){
						cart = res.cart;
						// console.log(cart);
						if($.isEmptyObject(cart.items)){
							$('#PPminicarts form').removeClass('minicarts-av').addClass('minicarts-empty');
						}
						if(parseInt(amount)==0){
							cartItem.remove();
						}
						else{
							targetPrice.html(priceFormat(cart.items[id].price));
							$('.minicarts-subtotal').find('span').html(priceFormat(cart.totalPrice));
						}
					}
				})
			});

			$(document).on('click','.minicarts-remove',function(){
				var id = $(this).attr('data-minicarts-idx');
				var cartItem = $(this).parents('.minicarts-item');
				$.get('/cart/remove-from-cart/'+id,function(res){
					if(res.message == 'success'){
						cart = res.cart;
						if($.isEmptyObject(cart.items)){
							$('#PPminicarts form').removeClass('minicarts-av').addClass('minicarts-empty');
						}
						cartItem.remove();
						$('.minicarts-subtotal').find('span').html(priceFormat(cart.totalPrice));
					}
				})
			})
		});
	</script>
	<!-- //end-smooth-scrolling -->

	<!-- smooth-scrolling-of-move-up -->
	<script>
		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->

	<!-- for bootstrap working -->
	<script src="/js/bootstrap.js"></script>
	<!-- //for bootstrap working -->
	<!-- //js-files -->
</footer>